/*************************************************/
/* El peso de las fuentes está bajo comprobación */
/*************************************************/

@font-face {
    font-family: BeVietnamPro;
    src: url('../res/fonts/ttf/BeVietnamPro-Medium.ttf');
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: BeVietnamPro;
    src: url('../res/fonts/ttf/BeVietnamPro-Regular.ttf');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: BeVietnamPro;
    src: url('../res/fonts/ttf/BeVietnamPro-Bold.ttf');
    font-weight: 700;
    font-style: normal;
}

body {
    font-family: 'BeVietnamPro', Verdana, sans-serif;
    font-size: 16px;
}
