:root {
    --cyan: #3CDDF3;
    --purple: #8B48BF;
    --dark-blue: #1E1E26;
    --darkest-blue: #232851;
    --light-gray: rgb(249, 249, 249);
    --white: #fff;
    --disabled: #7C8297;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(249, 249, 249);
    color: var(--darkest-blue);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background-color: var(--white);
    gap: 50px;
}

.navbar {
    display: flex;
    padding: 65px 165px;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-container {
    width: 382px;
    margin-left: 1em;
    margin-right: 1em;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container li {
    display: inline;
    font-size: 13px;
}

.img-fluid {
    width: 100%;
}

button {
    background-color: var(--light-gray);
    color: var(--purple);
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

button.primary {
    background-color: var(--purple);
    color: var(--white);
}

button.mini {
    background-color: var(--light-gray);
    color: var(--purple);
    width: 69px;
    padding: 10px 25px;
    height: 44px;
    font-weight: 700;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: var(--purple);
    color: var(--white);
}

.home {
    align-self: center;
    max-width: 1129px;
    /* height: 525px; */
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.home-copywriting {
    display: flex;
    flex-direction: column;
}

.home-title {
    font-weight: 700;
    font-size: 58px;
    line-height: 66.47px;
    max-width: 439px;
    /* height: 198px; */
}

.home-body {
    width: 350px;
    font-weight: 500;
    font-size: 16.5584px;
    font-style: normal;
    line-height: 157.1%;
    margin-top: 28px;
    margin-bottom: 28px;
}

/* NOTE: Fix the size of about section */

.about {
    align-self: center;
    max-width: 1129px;
    height: 525px;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
}

.about-main {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    /* width: 433px; */
    /* height: 212px; */
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41.26px;
}

.about-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.about-item {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.about-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.about-item-text p {
    color: var(--disabled);
}

.testimonials {
    max-width: 1298px;
    /* height: 478px; */
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 45px;
}

.testimonials header h2 {
    font-style: normal;
    font-weight: 700;
    font-size: 39.2143px;
    line-height: 156.6%;
}

.testimonials section {
    display: flex;
    justify-content: stretch;
}

.testimonials section article {
    display: flex;
    flex-direction: column;
    gap: 21px;
    justify-content: stretch;
    align-items: center;
    padding-left: 21px;
    padding-right: 21px;
}

.testimonials section article img {
    width: 70px;
    height: 70px;
}

.info {
    /* height: 224px; */
    background-color: var(--purple);
    padding: 64px 165px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.info-body {
    width: 438px;
}

.info-title {
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 48px;
    color: var(--white);
}

.footer {
    margin-top: 150px;
}

.footer-main {
    padding: 64px 165px;
    background-color: var(--dark-blue);
}

.footer-content {
    display: flex;
    /* gap: 100px; */
    justify-content: space-between;
}

.footer-logo {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.footer-copyright {
    display: flex;
    justify-content: flex-end;
    color: var(--disabled);
    font-style: normal;
    font-weight: 500;
    font-size: 12.5px;
    line-height: 18px;
}

.footer-links {
    max-width: 392.73px;
    display: flex;
    justify-content: space-between;
    /* gap: 150px; */
    /* gap: 219px; */
    /* width: 100%; */
    align-items: stretch;
    color: var(--white);
}

.footer-link {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.footer-link a {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 23px;
}

.search-bar {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    gap: 9px;
}

.form-email {
    width: 143px;
    padding: 0px 15px;
    height: 44px;
    font-weight: 600;
    border-radius: 50px;
    border-style: none;
    color: var(--disabled);
}

.hamburger {
    display: none;
}

@media only screen and (max-width: 1170px) {
    .home, .about {
        margin: 1em;
    }
}

@media only screen and (max-width: 940px) {
    .nav-container {
        display: none;
    }

    .navbar-content button {
        display: none;
    }

    .navbar-content .hamburger {
        display: inline;
    }

    .navbar {
        padding: 74px 10%;
    }

    .container {
        gap: 15%;
    }

    .home {
        flex-direction: column-reverse;
    }

    .about {
        flex-direction: column;
    }

    .about-main > * {
        width: 100%;
        text-align: center;
    }

    .home-copywriting {
        width: 100%;
        align-items: center;
    }

    .home-title, .home-body {
        max-width: 90%;
        text-align: center;
    }
}

@media only screen and (max-width: 728px) {
    .navbar {
        padding: 59px 36px;
    }
}