:root {
    --cyan: #3CDDF3;
    --purple: #8B48BF;
    --dark-blue: #1E1E26;
    --darkest-blue: #232851;
    --light-gray: rgb(249, 249, 249);
    --white: #fff;
    --disabled: #7C8297;
}

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background-color: rgb(249, 249, 249);
    color: var(--darkest-blue);
}

.container {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    background-color: var(--white);
}

.navbar {
    display: flex;
    padding: 65px 165px;
}

.navbar-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.nav-container {
    width: 382px;
}

.nav-container ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-container li {
    display: inline;
    font-size: 13px;
}

button {
    background-color: var(--light-gray);
    color: var(--purple);
    width: 134px;
    height: 44px;
    padding: 10px;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
}

button.primary {
    background-color: var(--purple);
    color: var(--white);
}

button.mini {
    background-color: var(--light-gray);
    color: var(--purple);
    width: 69px;
    padding: 10px 25px;
    height: 44px;
    font-weight: 700;
    border-radius: 50px;
    border-style: none;
    box-shadow: 0px 4px 7px rgba(0, 0, 0, 0.25);
    background-color: var(--purple);
    color: var(--white);
}

.home {
    align-self: center;
    width: 1129px;
    /* height: 525px; */
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.home-copywriting {
    display: flex;
    flex-direction: column;
}

.home-title {
    font-weight: 700;
    font-size: 58px;
    line-height: 66.47px;
    width: 439px;
    /* height: 198px; */
}

.home-body {
    width: 350px;
    font-weight: 500;
    font-size: 16.5584px;
    font-style: normal;
    line-height: 157.1%;
    margin-top: 28px;
    margin-bottom: 28px;
}

.about {
    align-self: center;
    width: 1129px;
    height: 525px;
    display: flex;
    justify-content: stretch;
    align-items: center;
}

.about-main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 0px;
    gap: 36px;
    /* width: 433px; */
    /* height: 212px; */
}

.about-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 41.26px;
}

.about-items {
    display: flex;
    flex-direction: column;
    gap: 23px;
}

.about-item {
    display: flex;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.about-item-text {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    gap: 18px;
}

.about-item-text p {
    color: var(--disabled);
}
